@media screen and (min-width:786px){
   
    body{
        margin: 0%;
        padding:0px;
    }
    #page-wrapper{
        position: relative;
        min-height: 100vh;
    }
    #content-wrapper{
        padding-bottom: 500px;
       position: relative;
    }
    #footer-wrapper{
        position: absolute;
        bottom: 0%;
        background-color: black;
        width: 100%;
        height: auto;
        padding-bottom: 50px;
        color: white;
    }
    #footer-content{
        padding:0%;

    }
    #nav-bar-small{
        display: none;
    }
    .footer-item{
        float: left;
        width: 25%;
        padding-left: 5%;
       
    }
    .footer-item ul{
        list-style-type: none;
        padding: 0px;
        padding-top: 10px;
    }
    .footer-title{
        font-size: 1.4em;
        text-decoration: underline;
        
    }
    #nav-section{
        width: 100%;
        height: 60px;
        padding-left: 10px;
        padding-top: 5px;
       
    }
     #home-icon img{
         width: 96%;
         height: 100%;
     }
     #search-section{
         padding-top: 7px;
        padding-right: 10px;
        height: 100%;
  
     }
    
     #categories-section{
         top:-13px;
         background-color: #333;
        position: relative;
        color: sandybrown;
        font-weight: bold;
        min-height: 40px;
        height: 40px;
        margin-bottom: 10px;
       

    }
    #categories-section ul{
        height: 100%;
        list-style-type: none;
        display: flex;
        padding: 0px;
        flex-wrap: wrap;
        justify-content:flex-start ;
    }
    #categories-section li{
        flex:0 0 10%;
        width: 10%;
        max-width: 10%;
    }
    #categories-section a{
        display: block;
        text-decoration: none;
        padding: 10px 10px;  
        font-size: 0.8em;  
        height: 100%;
    }
    #categories-section a:hover{
       border-right:1px solid white;
       border-left:1px solid white;
       color:white;   
    }
    #sub-options{
        margin-top:-20px;
        border:1px solid burlywood;
    }
    #filterArrows{
        width: 40%;
        margin-left: 30%;
    }
    #filter-desc{
        height: 40px;
    }
     #account-actions-ul{
         width: 100%;
         height: 60%;
         background-color: white;
         list-style-type: none;
         padding: 0%;
         font-weight: bold;
     }
     #account-actions-ul ul{
         padding-left: 0%;
         list-style-type: none;
     }
   #settings-section{
       width: 99%;
       margin-left: 0.5%;
       margin-top:10px;
   }
    
   
    
     .nav-icon{
         width: 33%;
      float: left;
      max-width: 33%;
      text-align: center;
 
    }
   

   
    #highlight-section button{
        width:80%;
        margin-left: 10%;
        font-weight: bold;
    }
    .item-cat-overview{
        margin-left: 7%;

    }
    .item-cat-title{
        font-weight: bold;
        
    }
    .favo-icon {
        color: darkslategray;
        margin-left: 20px;
     
    }
    .prev-price{
        color: red;
    }
    
    .products-count {
        color: black;
        text-decoration: underline;
        font-weight: weight;
    }
    #sticky-content{
        border-bottom: 1px solid black;
        z-index: 10;
        background-color: white;
        position: sticky;
        top:0px;
        padding-bottom: 3px;
    }
    @keyframes cartEffect {
        from {color: black;font-weight: 100;font-size: 0em;}
        to {color: brown;font-weight: bolder;font-size: medium;}
      }
      .anime-class{
        animation-name: cartEffect;
        animation-duration: 0.3s;
      
      }
  
    #highlight-banner{
        margin-top:-20px;
        box-sizing: border-box;
        width: 100%;
        height: 60vh;
        border:1px solid gray;
    }
    #highlight-banner img{
        margin-left:0.5%;
        width: 99%;
        height: 100%;
    }

     #highlight-section{
         display: flex;
         width: 97%;
         margin-left: 1.5%;
         margin-top: 10px;
         padding: 10px 0px;
     }
    .high_sub_sec{
        flex:0 0 50%;
        max-width: 50%;
        
    
    }
    .highlight-list{
        box-sizing: border-box;
        display: flex;
        width:100%;
        margin: 0px 0%;
        flex-wrap: wrap;
        justify-content: flex-start;
       
    }
    .highlight-list-item{
        flex: 0 0 49%;
        margin-bottom: 20px;
        height:400px;
        padding:20px 0px;
        border:1px solid gray;
        margin-left:0.5%;
    }
    .highlight-list img{
        min-width: 90%;
        width: 95%;
        margin: 0px 2.5%;
        height: 65%;
    }
     #sign-in-sett{
         display: none;
     }
     #user_avatar{
         margin-left: 20px;
         width: 120px;
         height: 140px;
        
     }
     #current-sect{
         margin-left: 20px;
     }
     #settings-act{
        margin-top: 30px;
        padding-left: 30px;
     }
     .settings-act-icon{
         display: none;
     }
    #user_name_avatar{
        font-size: 0.8em;
        font-weight: bold;
        margin-top: 20px;
        margin-left: 2px;
    }
    #orders-view{
        width: 99%;
        margin-left: 0.5%;
    }
    .filter-order{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
     
        padding:4px 0;
        justify-content: space-around;
        margin-bottom:15px;
        text-align: center;
        font-size: small;
        
    }
    .filter-order select,.filter-order button,.filter-order input{    
       flex: 0 0 18%;
       border:1px solid lightblue;
    }
    .filter-desc{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
       
    }
    .filter-desc div{
        flex: 0 0 18%;
        text-decoration: underline;
        font-weight: bolder;
      
    }
    .order-title{
        border:1px solid black;
        height: 30px;
        background-color: mediumseagreen;
        text-align: center;
        width: 100%;
    }
    #orders-section{
        width: 99%;
        margin-left: 0.5%;
        padding-bottom: 1vh;
   
    }
    #filter-section{
        border:1px solid grey;
        padding: 1px 0;
    }
    .order-sec{
        display: flex;
        flex-wrap:wrap;
        justify-content: center; 
        margin:5px 0;    
        
    }
    #orders .titles div{
         background-color: gray;
        flex:0 0 16%;
        border:1px solid black;
        padding:5px 0;
    }
    .order-sec div{
      border:0.5px solid grey;
        flex :0 0 16%;
       text-align: center;
       padding:5px 0;
    }
    .filtered-orders-title{
      font-size: 1em;
    }
   .filtered-orders-details{
       padding:10px;
       font-size: 0.9em;
   }
  #filter_by_select{
      padding: 10px;
  }
  #checkout-sect{
      width: 99%;
      margin-left: 0.5%;
      padding-bottom: 20px;
    
  }
 
   #payForm{
       width: 80%;
       margin-left: 10%;
      border-radius: 10px 10px 5px 5px;
      padding-bottom: 30px;
    
   }
   #paym-methods{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    justify-content: space-around;
    padding-top: 20px;
   }
   #paym-methods div{
       text-align: center;
       cursor: pointer;
     flex: 0 0 15%;
     height:100px;
     border:2px solid lightblue;

   }
   #paym-methods div:hover{
       border:3px solid darkcyan;
       font-weight: bold;
   }
   #pay-mpesa{
       padding: 5px 5px;
       display: flex;
       margin-left: 10%;
       width:80%;
       flex-wrap: wrap;
       margin-top:40px;
       border: 1px solid gray;
   }
   #verify-mpesa-code button,#verify-mpesa-code input{
     width:70%;
     margin-left: 15%; 
    
   }
   #verify-mpesa-code label{
       display: block;
       max-width: 80%;
       margin-left: 15%;
   
    
   }
   #loader-receipt{
       padding: 30px 0;
   }
   #receiptSection{
       margin-top:10px;
       width:90%;
       margin-left: 5%;
   }
   #loader-receipt img{
       margin-top:20px;
      
   }
   .loadgif-button{
    width:10%;
    height: 10%;
   }
   .loadgif-mpesaOkay{
       width:6%;
       height: 10%;
   }
   /* #receiptSection{
       margin-top:2vh;
       border: 1px solid blue;;
       height: 40vh;
   } */
   #pay-mpesa div{
       
       flex:1 0 50%;
   }
   #cash-on-delivery{
       width:50%;
       padding:20px 5px;
       margin-left: 25%;
       margin-top:30px;
   }
   #recieptCard{
       border:5px dashed brown;
       margin-top:30px;
       width: 100%;
      height:60vh;
   }
   #ReceiptDetails{
       max-height: 100%;
       height: 90%;
       border:3px solid black;
   }
   #order-details{
       padding: 5px 0;
       display: flex;
       flex-wrap: wrap;
       text-align: center;
   }
   #order-details div{
    margin:3px 0;
      flex:0 0 18%;
      border:1px solid gray;
      padding:3px 5px;
   }
  #order-details .title{
      display: block;
      background-color: gray;
    font-weight: bold;
    text-decoration: underline;
    color:black;
  }
  #order-details .describe{
       font-style: italic;
      font-weight: lighter;
  }
   
    #paymentForm input{
     width: 80%;
     margin-left: 10%;
    }
    #paymentForm div{
        width: 80%;
        margin-left: 10%;
        margin-bottom: 40px;
       }
    #paymentForm label{
        font-weight: bold;
        width: 80%;
        margin-left: 10%;
    }
    #paymentForm button{
        width: 20%;
        margin-left: 40%;
        font-weight: bold;
    }
   
   .cart-item-desc{
      width: 60%;
       height: 130px;
       display: block;
   }
   .cart-item-title{
       font-weight: bold;
   }
   .cart-item-desc img{
       width: 100px; 
       height: 100px;
   }
   #cart-checkout{
       width:80%;
       margin-left:10%;
   }
   .cart-item-desc input{
       text-align: center;
       width:30%;
       margin-left:33%;
       margin-top:5px;
       margin-bottom: 10px;
   }
   .delete-icon{
       color: red;
   }
   .delete-icon:hover{
       cursor: pointer;
   }
   #item-total-price{
       font-weight: bold;
   }
   .cartProceed{
       margin-top: 20px;
     margin-left:40%;
     width:20%;
   }
   #checkoutPreload{
       border:1px solid grey;
       margin-top:30px;
       width:90%;
       margin-left:5%;
       height:40vh;
   }
   #checkoutPreload img{
       margin-left: 40%;
   }
   .loadgif-cartokay{
       height: 20px;
   }
   #delivery-address{
     width: 100%;
   }
   #primary-address{
    margin-left: 1%;
    width:98%;
   }
 
   #delivery-address button{
       margin-left:40%;
       font-weight: bold;
       width: 23%;
   }
   .totalAmount{
     margin-left:2%;
   }
   .totalAmount p{
       padding-left: 5px;
   }
   #totSumm{
       margin-top: 30px;
    width:30%;
}
 #select-address{
     width:9%0;
     margin-left: 0.5%;
    
 }
.address-item{
    font-weight: bold;
    margin-left:20px;
    padding-left: 10px;
    width:40%;
}
.select-del-address {
    margin-left: 30%;
}
#add-address-btn{
    margin-top:40px;
    margin-left: 40%;
    margin-bottom: 50px;
}
#pickup-station{
    width: 90%;
    margin-left: 5%;
}
#pickup-station form{
    border:1px solid black;
    width: 60%;
    margin-left: 20%;
    padding:30px;
    border-radius: 0px 0px 20px 20px;
}
#save-address{
    margin-left: 36%;
} 
 
#coupons-center{
    width: 99%;
    margin-left: 0.5%;
}
#coupons-center img{
    width: 100%;
    height: 250px;
}
.coupon-card{
    margin-bottom: 30px;
}
#address-settings{
    width: 99%;
    margin-left:0.5%;
    margin-top: 1%;
   
}
#avail-address{
    border:1px solid gray;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    padding:1% 1%;
    justify-content: flex-start;

}
.address-loc{
    padding:1% 1%;
    margin-left: 2%;
    flex:0 0 30%;  
}
.address-loc .title{
    color:gray;
    font-weight: bold;
}
.address-loc .content{
    font-size: small;
    color:black;
    font-weight: bold;
}
.actbtn{
    margin-top:3%;
 font-size: small;
 width:49%;
 font-weight: bold;
}
#AddrNA{
    cursor: pointer;
   display:flex;
   align-items: center;
   justify-content: center;
}
#AddrNA:hover{
    text-decoration: underline;
  
}
#AddrNA div{
    font-weight:bold;
     text-shadow: gray;
 }
#add-new-address{

    font-weight: bold;
    margin-left: 37%;
    margin-top:100px;
    width: 300px;
    margin-bottom: 40px;
}
#add-address{
   width: 100%;
}
#addressFormStatus{
    width: 90%;
    margin-left: 5%;
}
#new-add-modal{
    height:95vh;
    margin-top:-6%;
}
#add-address input{
    width: 90%;
    margin-left: 5%;
}
#add-address label{
    margin-left: 5%;
    font-weight: bold;
}
#add-address button{
    margin-top: 20px;
    width:20%;
    margin-left: 37%;
    margin-bottom:40px;
}
#pers-det{
 width: 98%;
 margin-left: 1%;   
 padding-top:10px;
 padding-bottom:20px;
}
.loadgif{
    height: 20px;
}
#personalDetails input{
    margin-left:3%;
    font-weight: bold;
    width:80%;
    font-size: small;
}
#personalDetails  #formSect button{
    font-size: smaller;
}

#triggerPasswordUpdate{
    margin-top:50px;
    margin-bottom:40px;
    margin-left:42%;
}
#updatePassword{
    width:70%;
    margin-left:15%;
    padding:50px;
    border:1px solid gray;
}
#updatePassword button{
    margin-left:40%;
}

#view-spes-prod{
    width:98%;
    margin-left:1%;
}
.product-images{
    border: 1px solid black;;
    width:30%;
    margin-left:2%;
    max-width:15%;
    height:300px;
    overflow: scroll;
    display: block;
    scrollbar-width: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin-top:10px;
}
.product-images img{
  width:98%;
  margin-left:1%;
  height: 60%;
  padding:10px;
  margin-bottom:20px;
 
}

#magnify-prod-image{
    margin-top:10px;
    width:60%;
    border:1px solid gray;
    margin-left:3%;
}
#magnify-prod-image img{
    width:70%;
   height: 430px;
   margin-left: 15%;
}   
.product-description {
    margin-left:1%;
    padding-top:20px;
    padding-left: 20px;
    padding-right: 7px;
    padding-bottom: 50px;
}
.prod_title{
    font-weight: bold;
}
.product_price{
    font-weight: bold;
    color: tomato;
}
.selling_shop{
    font-weight: bold;
}
.prod_act  button{
    width: 15%;
    margin-right: 40px;
    margin-bottom:20px;
}
.h3{
    font-weight: bold;
}
#authent-form-section{
    width: 40%;
    margin-left: 30%;
    margin-top:30px;
    
}

#login_form input,#login_form label {
    width: 90%;
    margin-left: 3%;
}

#login_form form button{
    margin-left: 37%;
    width: 20%;
    margin-top: 20px;
}
.social-login{
    margin-top: 30px;
    margin-left: 27%;
    margin-bottom: 20px;
}

#sign_up_form input,#sign_up_form label {
    width: 90%;
    margin-left: 3%;
}
#sign_up_form{
    margin:0px;
}


#sign_up_form form button{
    margin-left:40%;
    margin-top: 20px;
}
.social-login{
    margin-top: 30px;
    margin-left: 27%;
    margin-bottom: 20px;
}
.login-instead {
 margin-left: 3%;
 cursor: pointer;
}
#forgot-password input{
  width: 90%;
  margin-left: 5%;
}
#forgot-password label{
    width: 90%;
    margin-left: 5%;
  }
  #forgot-password button{
      margin-top:40px;
       margin-left:40%;
  }
#account-rec_form input,#account-rec_form  div,#account-rec_form label{
    margin-left: 5%;
    width: 90%;
}

#account-rec_form button{
    margin-top:20px;
    margin-left: 40%;
}
#addr_itm{
    width: 40%;
    margin-left:30%;
    margin-bottom:20px;
}
#paym_itm{
    width: 40%;
    margin-left: 30%;
    margin-bottom:20px;
}
#cart_itm{
    width: 40%;
    margin-left: 30%;
    margin-bottom:20px;
   
}
.order-det{
 text-align: center;
}
#view-spec-ord{
    width: 100%;
    margin-top: 40px;

    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}
.nav-icon{
    cursor: pointer;
}

#home-icon{
    cursor: pointer;
}
.products-section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding:10px 5px;
}
#toogleViewProd{
    display: none;
}
.product-item{
   flex:0 0 25%;
   height:350px;
   padding: 1px 4px;
   border:2px solid black;
   margin:20px 0;
}
.product-item a{
    text-decoration: none;
}
.product-item:hover{
    background-color: #e6ffe6;
}
 

 .products-section img{
    cursor: pointer;
     width: 75%;
     margin-left:12.5%;
     height: 210px;
     max-height: 250px;
    
 }
 .products-section button{
     width:80%;
     margin-left: 10%;
     font-weight: bold;
 }
 #myfav{
    font-weight: bold;
    width:60%;
    margin-left: 1%;
   
}  
 .fav-box{
     box-sizing: border-box;
    height:150px;
 }
 .fav-box img{
    box-sizing: border-box;
   height:80%;
   width: 40%;

}
.fav-box div{
    padding:10px 5px;
}

.cart-section-itm{
    height:170px;
   padding:7px 5px;
}
.cart-section-itm img{
    width: 130px;
   
}
.quantity-contr{
    padding:30px 5px;
}
.del-contr,.prc-cont{
    padding:50px 5px;
}

}